# Abhängigkeiten
/vendor/

# Umgebungsvariablen – niemals committen
.env

# Keys
*.key
*.pem
*.pub

# IDE
.idea/
.vscode/
*.swp
*~

# Logs
*.log
/logs/

# System
.DS_Store
Thumbs.db


SchuelerLeistungsdaten.dat